
<div id="appContainer">
  <div id="appTable">
    <p-table>
      <ng-template pTemplate="header">
        <tr id="sizes">
          <td>Размер</td>
          <td *ngFor="let size of this.data.header">{{ size }}</td>
        </tr>
        <tr id="values">
          <td>Вес нетто</td>
          <td *ngFor="let val of this.data.netWeightValues;
              let i = index" id="head"
          >
<!--            <p-inputNumber pTooltip="Вес каждого последующего размера должен быть больше предыдущего!"-->
<!--                           tooltipPosition="top"-->
<!--                           [tooltipDisabled]="toolEnable[i]"-->
<!--                           [disabled] = "editItem"-->
<!--                           [(ngModel)]="this.data.netWeightValues[i]"-->
<!--                           (onInput)="checkVal(i)"-->
<!--                           [class.ng-invalid]="toolInvalid[i]"-->

<!--            >-->
<!--            </p-inputNumber>-->
            <input type="number"
                    class="btn"
                    [(ngModel)]="this.data.netWeightValues[i]"
                    [pTooltip]=""
                    [tooltipDisabled]="toolEnable[i]"
                    [disabled]="editItem"
                    [class.ng-invalid]="toolInvalid[i]"
            >

            <button class="pi pi-times"
                    (click)="deleteVal(i)"
                    [hidden]="editItem"
            >
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="butt">
    <div *ngIf="editItem;else edit">
      <p-button (click)="editMode()"
                label="Редактирование">
      </p-button>
    </div>
  <ng-template  #edit>
    <app-dialog></app-dialog>
    <p-button (click)="saveVal()"
              label="Сохранить"
              [disabled]="saveBtn">
    </p-button>
  </ng-template>
  </div>

</div>
