#appContainer {
  margin: 100px auto;
}

#sizes, #values {
text-align: center
}

.btn {
}

p-inputNumber.ng-invalid {
  border: red solid 10px;
}

.p-inputgroup {
  padding: 0 5px;
}

.input-number {
  > input {
    max-width: inherit;
  }
}
