
<div id="appContainer">
  <div id="appTable">
    <p-table *ngIf="this.data">
      <ng-template pTemplate="header">
        <tr id="sizes">
          <td>Размер</td>
          <td *ngFor="let size of this.data.header">{{ size }}</td>
        </tr>
        <tr id="values">
          <td>Вес нетто</td>
          <td *ngFor="let val of values;
              let i = index" id="head"
          >
            <div class="p-inputgroup">
              <p-inputNumber pTooltip="Вес каждого последующего размера должен быть больше предыдущего!"
                             tooltipPosition="top"
                             styleClass="input-number"
                             [tooltipDisabled]="toolEnable[i]"
                             [disabled] = "editItem"
                             [(ngModel)]="val.val"
                             (onInput)="checkVal($event.value, i)"
                             [class.ng-invalid]="toolInvalid[i]"
              >
              </p-inputNumber>
              <button (click)="deleteVal(i)"
                      [hidden]="editItem"
                      pButton icon="pi pi-times"
              >
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="butt">
    <div *ngIf="editItem;else edit">
      <p-button (click)="editMode()"
                label="Редактирование">
      </p-button>
    </div>
  <ng-template  #edit>
    <app-dialog></app-dialog>
    <p-button (click)="saveVal()"
              label="Сохранить"
              [disabled]="saveBtn">
    </p-button>
  </ng-template>
  </div>

</div>
